*{
    margin: 0px;
    padding: 0px;
    color: #b6b6b6;
    --color: linear-gradient(950deg, rgb(0 104 255 / 97%), #ff004b);
}
body{
    background-color: #272727;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    color: transparent !important;
    padding-bottom: 20px;
    font-size: 25px;
    background-image: var(--color);
    background-size: 100% 100%;
    -webkit-background-clip: text;
}
.logo > p{
    color: transparent !important;
}
.warning {
    font-size: 16px;
}
.inputText{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 40px 30px;
    display: flex;
}

.inputText input{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

.inputText span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

.inputText span::after{
    content: '';
    position: absolute;
    left: 0%;
    top: 100%;
    width: 0%;
    height: 2px;
    background: var(--color);
    transition: .5s;
}

.focus + span::before,
.focus + img + span::before{
    top: -5px;
}
.focus + span::after,
.focus + img + span::after{
    width: 100%;
}
.login_{
    color: skyblue;
    font-size: 12px;
    position: relative;
    top: 170px;
    cursor:pointer;
}
.button{
    font-size: 20px;
    color: #9a9a9a;
    box-shadow: 9px 9px 18px rgba(50, 34, 34, 0.1),
    -9px -9px 18px rgba(97, 96, 96, 1);
    border-radius: 3rem;
	transition: box-shadow .2s ease-out;
    background-color: #35373769;
    width: 130px;
    height: 55px;
    outline: none;
    border:none;
}

.button:hover{
    font-size: 19px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2),
    -1px -1px 2px rgba(255, 255, 255, 0.8);
    border-radius: 3rem;
    transition: box-shadow .2s ease-out;
    transition: font-size .2s ease-out;
}

.register{
    color: skyblue;
    font-size: 12px;
    position: relative;
    top: 100px;
    cursor:pointer;
}

#captcha_img{
    display: inline;
}

.card{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .front,.card .back{
    padding: 40px 30px;
    position: absolute;
    text-align: center;
    box-shadow: 20px 12px 24px rgb(73 63 63 / 10%), 
    -12px -12px 24px rgb(78 75 75);
	border-radius: 3rem;
    background-color: #343030;
    display: flex;
    flex-direction: column;
    transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    min-width: 350px;
}
.card .front{
    z-index: 1;
}
.turn{
    text-align: right;
}

.card .back{
    transform: rotateY(180deg);
}

.back.back-turn{
    transform: rotateY(0deg);
}
.front.front-turn{
    z-index: 0;
    transform: rotateY(-180deg);
}
